body {
     color:rgb(0, 202, 185);
     background: rgb(157, 230, 233);
     margin: opx;
     font-family: Georgia, 'Times New Roman', Times, serif;


 }
header{
     border-bottom: solid 2px rgb(0, 0, 0);
     padding: 20px;
     font-size: 32px;
     color: hsl(271, 76%, 53%);
}
.chamada {
     background: lab(73.37% 32.54 -22);
     padding-bottom: 80px;
     padding-top: 80px;
     display: flex;
     justify-content: center;
}

.chamada-texto{
     margin-right: 5%;
}

h1{font-size: 40px;

}
p{ font-size: 20px;

}
img {
     height: 200px;

}
.categoria-videos {
     display: flex;
     overflow-x: auto;
     gap: 10px;

}
.categoria {
     padding-left: 20px;
     padding-right: 20px;
}
.categoria-videos img{
     opacity: 0,5;
     height: 200px;
     margin-top: 50px;
}
.categoria-videos img:hover{
     opacity: 1.0;
     bordeer:3px solid red;
}